@use 'node_modules/inter-ui/default' with (
    $inter-font-display: swap,
    $inter-font-path: '/fonts/inter'
);
@use 'node_modules/inter-ui/variable' with (
    $inter-font-display: swap,
    $inter-font-path: '/fonts/inter'
);
@include default.all;
@include variable.all;

html {
    font-family: 'Inter', 'system-ui', sans-serif;
    font-size: 13px;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', 'system-ui', sans-serif;
    }
}

h1 {
    font-size: 24px;
    letter-spacing: -0.47px;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.18px;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}


// 

#greymass-wallet-version {
    font-size: 0.2em;
    opacity: 0.2;
    position: fixed;
    bottom: 1em;
    right: 1em;
    pointer-events: none;
}

html {
    height: 100%;
    overflow: auto;
}

label,
p,
h1,
h2,
h3,
h4,
h5,
tr,
td {
    color: var(--main-black);
}

a {
    cursor: pointer;
}

:root {
    --main-white: #fff;
    --always-white: var(--main-white);
    --main-green: #26c64b;
    --main-grey: #f7f7fc;
    --main-red: #ff931e;

    --background-highlight: #fff;
    --background-highlight-hover: #fbfbfe;

    --dark-grey: #b7c1cb;
    --divider-grey: #e0e6ee;
    --light-black: #2c3e50;
    --light-blue: #e0eeff;
    --light-grey: #9898b5;
    --light-red: rgba(255, 146, 30, 0.1);

    --success-green: #4bca81;
    --error-red: #ff0033;

    --mobile-breakpoint: 600px;

    --melon: #f9c5b8;
    --sandy-brown: #ffa253;
    --light-goldenrod-yellow: #f5f1cc;
    --air-superiority-blue: #669bbc;
    --middle-blue-green: #7de8d1;
    --emerald: #62d385;
    --cultured: #eeeeee;
    --black: #000000;
    --white: #ffffff;

    --middle-green-eagle: #063a47;
    --lapis-lazuli: #005dac;
    --oxford-blue: #0a0e33;
    --brown-sugar: #996443;
    --antic-ruby: #82172e;
    --violet-crayola: #9d2c7a;
    --rich-black-FOGRA: #111111;

    --main-blue: var(--lapis-lazuli);
    --main-black: #585d6e;
}

body.darkmode {
    --main-white: #1c1c1e;
    --main-grey: #2c2c2e;

    --background-highlight: #3a3a3c;
    --background-highlight-hover: #3a3a3c57;

    --light-blue: #2a415e;
    --dark-grey: #8e8e93;
    --divider-grey: #3a3a3c;

    --melon: #063a47; /* middle green eagle */
    --sandy-brown: #005dac; /* lapis lazuli */
    --light-goldenrod-yellow: #0a0e33; /* oxford blue */
    --air-superiority-blue: #996443; /* brown sugar */
    --middle-blue-green: #82172e; /* antic ruby */
    --emerald: #9d2c7a; /* Violet Crayola */
    --cultured: #111111; /* Rich Black FOGRA */
    --black: #ffffff;
    --white: #000000;

    --middle-green-eagle: #f9c5b8; /* melon */
    --lapis-lazuli: #ffa253; /* sandy-brown */
    --oxford-blue: #f5f1cc; /* light-goldenrod-yellow */
    --brown-sugar: #669bbc; /* air-superiority-blue */
    --antic-ruby: #7de8d1; /* middle-blue-green */
    --violet-crayola: #62d385; /* emerald */
    --rich-black-FOGRA: #eeeeee; /* cultured */

    --main-blue: var(--middle-green-eagle);
    --main-black: #c4c4c4;
}

body {
    background: var(--main-white);
    color: var(--main-black);
    height: 100%;
}

main {
    min-height: 100vh;
}

.app-loading {
    --size: 60px;
    position: fixed;
    top: calc(50% - var(--size) / 2);
    left: calc(50vw - var(--size) / 2);
    border-top: 3px solid var(--main-blue);
    border-right: 0;
    animation: app-loading-spin 1.618s linear infinite;
    height: var(--size);
    width: var(--size);
    background: var(--main-white);
    border-radius: 50%;
}
@keyframes app-loading-spin {
    to {
        transform: rotate(360deg);
    }
}